.Container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 20px;
  grid-row-gap: 30px;
}

.Container div {
  min-width: 270px;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .Container {
    grid-column-gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin: 0 20px;
  }
  .Container div {
    min-width: 180px;
    margin: 0 auto;
  }
}
